*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0, 0.65)), url("/Apple.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

/* Navbar */
.navbar{
    height: 90px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
}

.nav-left{
    justify-self: start;
}

nav h2{
    font-size: 24px;
    font-weight: 700;
}

.nav-center{
    display: flex;
    gap: 40px;
    justify-self: center;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-self: end;
}

.nav-link{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: 0.3s;
}

.nav-link:hover{
    color: white;
}

.nav-link.active{
    color: #00e0ff;
}

.nav-link.active::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00e0ff;
    border-radius: 10px;
}

.cart-icon{
    position: relative;
    font-size: 35px;
    cursor: pointer;
}

.cart-icon:hover{
    color: #00e0ff;
    transform: scale(1.2);
}

.badge{
    position: absolute;
    top: -8px;
    right: -10px;
    background: #ff3b3b;
    font-size: 20px;
    padding: 3px 7px;
    border-radius: 50%;
}

.wishlist-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 40px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.wishlist-btn:hover{
    color: #ff3b3b;
    transform: scale(1.2);
}
/* navbar Ends */

/* Home page */
.page{
    padding-top: 90px;
}

.header{
    max-width: 1200px;
    margin: 0 auto 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 12px;
}

.header .subtitle{
    font-size: 18px;
    color: #00e0ff;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-cat{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin-top: 40px;
    margin-left: 200px;
}